/**{outline: 1px solid red !important;}*/

*, {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: content-box;
}

img, 
picture,
embed {
	max-width: 100%;
}

.tudo {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

body {
	background-color: black;
	color: white;
	font-size: 62,5%
}

p {
	font-size: 15px;
}

h1 {
	color: white;
}

.box_video {
	width: 100%;
	height: 250px;
}

.banner {
	text-align: center;
	width: 100%;
}

.back {
	text-align: center;
	margin: 6px;
}

.back_top {
	text-align: center;
}

.action {
	text-align: center;
}

input.botao {
	width: 90px;
	text-align: center;
}

.action_list {
	text-align: left;
}

.big_box {
	text-align: center;
	color: white
	/*caixa total do formulario*/
}

.form_user {
	background-color: #690305
	/*caixa dos campos do formulario*/

}
.portifolio {
	background-color: #690305;
	max-height: : 1500px;
}
